DB_PORT = DATABASE_PORT
DB_HOST = DATABASE_HOST
DB_NAME = DATABASE_NAME
DB_USER = DATABASE_USER
DB_PASSWORD = DATABASE_PASSWORD
PORT = SERVER_PORT
ACCESS_TOKEN_SECRET = YOUR_ACCES_TOKEN
REFRESH_TOKEN_SECRET = YOUR_REFRESH_TOKEN
MAIL_USER = YOUR_EMAIL
MAIL_PASSWORD = ACCES_KEY_TO_THE_EMAIL