.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}


.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.explore {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 12px 30px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.explore:hover {
  background: white;
  color: black;
}